@font-face {
  font-family: "TTLakes";
  src: url(fonts/TTLakes-Regular.woff2), url(fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: url(fonts/TTLakes-Medium.woff2), url(fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "TTLakes";
  src: url(fonts/TTLakes-Bold.woff2), url(fonts/TTLakes-Bold.woff);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-family: "TT Lakes", sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "TTLakes", sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
}

.header__menu {
  height: 88px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 20px;
}

/* кнопки верхнего меню  */
.button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
  margin: 0 7.5px;
}
.menu__button {
  margin: 0 7.5px 0 15px;
}
.checkstatus__button {
  margin: 0 15px 0 7.5px;
}

.menu__button-margin {
  margin: 0 15px 0 15px;
}

.icons__item {
  list-style-type: none;
  display: inline-block;
}

.header__icons {
  padding: 0px;
  margin: 0px;
}

/* Скрыл кнопки верхнего меню для 320px */
.items-none {
  display: none;
}

.main {
  background: #f8f8f8;
}

.repair-divider::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  display: inline-block;
  margin: 0 7.5px 4px 7.5px;
}

.menu-divider::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  display: inline-block;
  margin: 0 15px 4px 7.5px;
  display: none;
}

/* заголовок Услуги и сервисы */
.section__h1 {
  font-family: "TTLakes", sans-serif;
  font-weight: bold;
  color: #1b1c21;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 20px;
  padding-top: 24px;
  letter-spacing: -0.6px;
}

.section__h1::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 40px;
  margin-right: 12px;
  background-color: #41f6d7;
  border-radius: 0 4px 4px 0;
}

.nav-bar__link {
  font-weight: 500;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #7e7e82;
  padding: 6px 15px;
  border-radius: 6px;
  white-space: nowrap;
}

/* список ul */
.nav-bar {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  padding: 0px;
  margin: 4px 16px;
  overflow-x: auto;
}
/* список li */
.nav-bar__item {
  letter-spacing: -0.2px;
  border: 2px solid transparent;
}
/* рамка при нажатии */
.nav-bar__item:hover {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

/* расположение флекс в колонку */
.section__content {
  display: flex;
  flex-direction: column;
}

.section__content--text {
  margin: 0 18px;
}
.content--text--p {
  font-weight: 400;
  color: #1b1c21;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

/* скрыл второй абзац для 320px */
.p2 {
  display: none;
}

.show-more {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 16px;
}
.read-more--span {
  font-family: "TTLakes", sans-serif;
  font-weight: 500;
  color: #1b1c21;
  margin-left: 16px;
  padding: 5px 0;
}
.picture-cps {
  width: 100%;
  height: auto;
}
@media (min-width: 769px) {
  .items-none {
    display: contents;
  }
  .menu__button-margin {
    margin: 0 7.5px 0 15px;
  }
  .menu-divider::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    display: inline-block;
    margin: 0 15px 4px 7.5px;
  }
  .menu-btn--margin {
  }
  .section__h1 {
    margin-left: 0px;
  }
  .section__h1::before {
    content: "";
    margin-right: 24px;
  }
  .nav-bar {
    margin: 8px 28px;
  }
  .section__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 28px;
  }
  .section__content--text {
    width: 50%;
    margin: 0;
    margin-right: 15px;
  }
  .content--text--p {
    margin: 0;
  }
  .p2 {
    padding-top: 20px;
    display: contents;
  }
  .text__button {
    margin-top: 20px;
  }
  .picture-cps {
    border-radius: 6px;
    width: 50%;
    height: auto;
    margin-bottom: 25px;
  }
}

.h1-desctop {
  display: none;
}
@media (min-width: 1120px) /* убираем хедер */ {
  .header__menu {
    display: none;
  }
  .nav-bar {
    flex-wrap: wrap;
  }

  /* убираем стандартный h1 */
  .desctop-none {
    display: none;
  }

  /* h1 для десктоп */
  .h1-desctop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
